<h2>Article <%= @article.id %>: <%= @article.title %></h2>

<p><%= @article.content %></p>

<a href="/articles">Back</a> | <a href="/articles/<%= @article.id %>/edit">Edit</a>

<form action="/articles/<%= @article.id %>" method="post">
<input type="hidden" name="_method" value="delete" />
<input type="submit" value="Delete">
</form>